.meetVideoContainer {
    position: relative;
    height: 100vh;
    background-color: rgb(0, 11, 70);
}

.lobbyContainer {
    margin: 2rem;
}

.lobbyUserVideo {
    margin-top: 2rem;
    height: 60vh;
    width: auto;
    left: 20px;
    border-radius: 15px;
}

.meetUserVideo {
    position: absolute;
    bottom: 10vh;
    height: 40vh;
    width: auto;
    left: 20px;
    border-radius: 15px;
}

.buttonContainers {
    position: absolute;
    width: 100vw;
    bottom: 0;
    text-align: center;
}

.buttonContainers svg {
    font-size: 2rem;
}

.conferenceView {
    display: flex;
    padding: 10px;
    border-radius: 10px;
    gap: 10px;
}

.conferenceView video {
    width: auto;
    height: 40vh;
    border-radius: 10px;
    left: 20px;
}

.chatRoom {
    position: absolute;
    height: 90vh;
    right: 0;
    background: white;
    border-radius: 10px;
    width: 30vw;
    padding-inline: 20px;
}

.chatContainer {
    position: relative;
    height: 100%;
}

.chattingArea {
    position: absolute;
    bottom: 0;
    
}

