.landingPageContainer {
  width: 100vw;
  height: 100vh;
  background: url("/public/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

/* Navbar */

.landingPageContainer nav {
  padding-inline: 3rem;
  padding-block: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landingPageContainer nav h2 {
  font-size: 1.8rem;
  font-weight: 500;
}

.navlist {
  display: flex;
  gap: 1.6rem;
  cursor: pointer;
  font-size: 1.2rem;
}

.navlist div[role='button'] {
  background-color: #D97500;
  width: fit-content;
  padding: 0rem 1rem 0.4rem 1rem;
  border-radius: 8px;
}

/* Container */

.landingMainContainer {
  display: flex;
  justify-content: space-between;
  padding-inline: 3rem;
  height: 70vh;
  align-items: center;
}

.landingMainContainer > div:nth-child(1) {
  font-size: 2rem;
}

.landingMainContainer p {
  margin-top: 2rem;
  font-size: 1.8rem;
}

.landingMainContainer > div:nth-child(1) div[role='button'] {
  background-color: #D97500;
  width: fit-content;
  padding: 0rem 1rem 0.5rem 1rem;
  border-radius: 8px;
  margin-top: 2rem;
}

.landingMainContainer > div:nth-child(1) div[role='button'] a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-weight: 600;
}

.landingMainContainer img {
  height: 60vh;
  width: auto;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 20px;
  text-align: center;
}

.meetContainer {
  display: flex;
  padding-inline: 20px;
  height: 80vh;
  gap: 20vw;
  justify-content: center;
}

.leftPanel {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 10rem;
}

.rightPanel {
  display: flex;
  align-items: center;
}

.rightPanel > img {
  width: 30vw;
  height: auto;
  border-radius: 20px;
}